pkgbase = anydesk-wayland-bridge
	pkgdesc = Incoming AnyDesk remote control bridge for Hyprland/Wayland
	pkgver = 0.1.1
	pkgrel = 1
	url = https://aur.archlinux.org/packages/anydesk-wayland-bridge
	install = anydesk-wayland-bridge.install
	arch = x86_64
	license = MIT
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = gcc
	makedepends = kdoctools
	makedepends = knotifications
	makedepends = pkgconf
	depends = anydesk-bin
	depends = glib2
	depends = hyprland
	depends = kcoreaddons
	depends = ki18n
	depends = kpipewire
	depends = kstatusnotifieritem
	depends = kwindowsystem
	depends = libx11
	depends = libxcb
	depends = libxtst
	depends = pipewire
	depends = polkit
	depends = qt6-base
	depends = qt6-declarative
	depends = systemd
	depends = xdg-desktop-portal
	depends = xdg-desktop-portal-hyprland
	depends = xorg-server-xvfb
	depends = xorg-xrandr
	provides = anydesk-wayland-fix
	source = https://download.kde.org/stable/xwaylandvideobridge/xwaylandvideobridge-0.4.0.tar.xz
	source = input_relay.c
	source = logind_shim.c
	source = run-bridge.sh
	source = anydesk-wayland-fixed
	source = anydesk-wayland-bridge.service
	source = anydesk-wayland-ready.path
	source = anydesk-wayland-bridge.conf
	source = anydesk-wayland-fixed.desktop
	source = anydesk-wayland-bridge.install
	source = 70-anydesk-wayland-uinput.rules
	source = xwaylandvideobridge-anydesk.patch
	source = LICENSE
	sha256sums = ea72ac7b2a67578e9994dcb0619602ead3097a46fb9336661da200e63927ebe6
	sha256sums = f8d35b3ef7403cd23514550306a8a709975ffc028aeffb365fecf47a495452e1
	sha256sums = 447dff3022bad73aab31ceb5d6a19538776794f6d62b4cdcc084115b8b2fccdc
	sha256sums = 0d3126ef9c7aaee87471bf7ab490bcea41863cb811b59d9fcf989a6053a722bb
	sha256sums = c8a576ef6248983bde8c0d2fe7cabb3cf49f90bbaee60ddf431674c16ee50d78
	sha256sums = 6069c23aa10f2c8a1ac22488f10a0f2995feb7d6dec89cb3fdf23ffb39aa7324
	sha256sums = 2eed4f60b0a3744966f455d7f283737016d20b5ea695270aea0ec1f0011e2f04
	sha256sums = be45e3be96b050906d2b12f27f678c4f187400ed58b1e32b5697572d538a2635
	sha256sums = 308c7ec0b6ca41148c472d209c9048e0ed441f5941038e644c535c1f6220f85e
	sha256sums = 6cf0c5dd67965192ac0ed866bc84ba9cea9f43f8374a6e0490b5680c26cd912a
	sha256sums = b481f41f10cedbd34cfe7b99a3defe0c9667e55bd6800dfa1ff05b1998e46d81
	sha256sums = 17c57ee2a10fd32e49fd328e4b6521498fe6dab7e288e29d17b2a364273b3047
	sha256sums = afecd3cd4a59618aaff9e68e406caa74015c87964d5332633ac73b8b115b41e7

pkgname = anydesk-wayland-bridge
